@media (max-width: 615px){
    body{
        width: 98%;
    }
    hr{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .container > .content{
        width: 90%;
        padding: 10px;
    }
    .container > .content > .break-lines{
        width: 100%;
    }
    .container > .content > .post-section i{
        margin: 0px;
    }
    .container > .content > .header{
        padding: 10px 0px;
        width: 100%;
    }
    .container > .content > .status-section {
        width: 95%;
        padding: 10px 5px;
    }
    .container > .content > .status-section > .mystry {
        width: 100px;
        border-radius: 5px;
    }
    .container > .content > .status-section > .mystry img{
        width: 100px;
        border-radius: 5px;
    }
    .container > .content > .status-section > .stry1{
        width: 100px;
        border-radius: 5px;
    }
    .container > .content > .status-section > .stry1 img{
        width: 100px;
        border-radius: 5px;
    }
    .container > .content > .status-section > .stry2{
        width: 100px;
        border-radius: 5px;
    }
    .container > .content > .status-section > .stry2 img{
        width: 100px;
        border-radius: 5px;
    }
    .container > .content > .status-section > .stry3{
        width: 100px;
        border-radius: 5px;
    }
    .container > .content > .status-section > .stry3 img{
        width: 100px;
        border-radius: 5px;
    }
    .container > .content > .post-section {
        width: 100%;
        padding: 10px 0px;
    }
    .container > .content > .posts-section > .post-container{
        width: 95%;
        padding: 20px 10px;
    }
    .container > .content > .posts-section > .post-container > .post-content{
        width: 100%;
    }
    .container > .content > .posts-section > .post-container > .post-content > .poster-info{
        width: 100%;
    }
    .container > .content > .posts-section > .post-container > .post-content > .poster-info h1{
        width: 70%;
    }
    .container > .content > .posts-section > .post-container > .post-content > .post h1{
        width: 90%;
    }
    .container > .content > .posts-section > .post-container > .post-content > .reaction{
        width: 100%;
    }
}