.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    height: 100vh;
}
.container > .content{
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(17, 18, 43);
    text-align: center;
    border-radius: 30px;
    padding: 60px;
    width: 500px;
    height: 600px;
}
.container > .content > .header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 30px;
}
.container  > .content  > .header  h1{
    margin-top: 4px;
    font-family: arial;
    color: #cea13b;
}
.container > .content > .input {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 40px;
    padding: 0px 30px;
}
.container > .content > .input  input{
    width: 100%;
    border: none;
    color: white;
    border-bottom: 2px solid #cea13b;
    height: 40px;
    background-color: transparent;
    font-size: 1.5em;
    outline: none;
}
.container > .content > .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cea13b;
    margin: 0px 40px;
    border-radius: 60px;
}
.container > .content > .signup a{
    font-size: 1.8em;
    text-decoration: none;
    color: gainsboro;
    font-family: cursive;
    transition: 0.5s;
}
.container > .content > .signup a:hover{
    color: white;
}
@media (max-width: 615px){
    .container > .content{
        padding: 0px;
    }
    .container > .content > .signup{
        margin: 20px 40px 50px 40px;
    }
}