body{
    margin: 0px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    height: 100vh;
}
.container > .content{
    display: grid;
    grid-template-columns: 1fr;
    width: 350px;
    text-align: center;
}
.container > .content h1{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-weight: 700;
    color: white;
}
.container > .content > .btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container > .content > .btn a{
    background-color: white;
    border-radius: 15px;
    width: 150px;
    height: 60px;
    font-size: 2em;
    text-decoration: none;
    color: red;
    border: none;
    font-family: cursive;
}

.container > .content > .btn a:hover{
    letter-spacing: 0.5px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
}